<h1>Bienvenido a Trello</h1>

<%= link_to 'Ver Todos los Teams', work_teams_path, class: 'card-link btn btn-primary' %>
<%= link_to 'Ver Todos los Users', users_path, class: 'card-link btn btn-primary' %>